<div id="footer">
	<hr />

	<ul>
	{% if page.url != '/' %}
		<li><a href="/">Home</a></li>
	{% else %}
		<li>Home</li>
	{% endif %}
	{% if page.url != '/about/' %}
		<li><a href="/about/">About</a></li>
	{% else %}
		<li>About</li>
	{% endif %}
	{% if page.url != '/projects/' %}
		<li><a href="/projects/">Projects</a></li>
	{% else %}
		<li>Projects</li>
	{% endif %}
	{% if page.url != '/archives/' %}
		<li><a href="/archives/">Archives</a></li>
	{% else %}
		<li>Archives</li>
	{% endif %}
	</ul>

	<div id="syndication"><a href="https://feeds.elasticdog.com/elasticdog" title="Subscribe to ElasticDog.com's Syndication Feed"><img src="/images/feed-icon.png" alt="Syndication Feed Icon" /></a></div>

	<p>Copyright &copy; 2003&#8211;{{ site.time | date: '%Y' }} Aaron Bull Schaefer &#8212; All Rights Reserved.</p>
</div>
