$code-black: #1C1915;
$code-blue: #0F71C1;
$code-cyan: #339999;
$code-green: #3A8D35;
$code-grey: #333333;
$code-orange: #CB5910;
$code-pink: #CE0C6D;
$code-purple: #7A2C9E;
$code-red: #CE0C0D;
$code-tan: #A9A487;
$code-white: #F2F2F2;
$code-yellow: #E2DA6E;

.highlight {
    .hll { background-color: $code-grey             }
    .err { color: $code-white                       } /* Error */
    .c   { color: $code-purple; font-style: italic; } /* Comment */
    .cm  { color: $code-purple; font-style: italic; } /* Comment.Multiline */
    .cp  { color: $code-yellow; font-style: italic; } /* Comment.Preproc */
    .c1  { color: $code-purple; font-style: italic; } /* Comment.Single */
    .cs  { color: $code-purple; font-style: italic; } /* Comment.Special */
    .g   { color: $code-white                       } /* Generic */
    .gd  { color: $code-white                       } /* Generic.Deleted */
    .ge  { color: $code-white; font-style: italic;  } /* Generic.Emph */
    .gr  { color: $code-red                         } /* Generic.Error */
    .gh  { color: $code-white                       } /* Generic.Heading */
    .gi  { color: $code-white                       } /* Generic.Inserted */
    .go  { color: $code-white                       } /* Generic.Output */
    .gp  { color: $code-white                       } /* Generic.Prompt */
    .gs  { color: $code-white; font-weight: bold;   } /* Generic.Strong */
    .gu  { color: $code-white                       } /* Generic.Subheading */
    .gt  { color: $code-white                       } /* Generic.Traceback */
    .k   { color: $code-orange                      } /* Keyword */
    .kc  { color: $code-green                       } /* Keyword.Constant */
    .kd  { color: $code-orange                      } /* Keyword.Declaration */
    .kn  { color: $code-tan                         } /* Keyword.Namespace */
    .kp  { color: $code-orange                      } /* Keyword.Pseudo */
    .kr  { color: $code-orange                      } /* Keyword.Reserved */
    .kt  { color: $code-tan                         } /* Keyword.Type */
    .l   { color: $code-white                       } /* Literal */
    .ld  { color: $code-white                       } /* Literal.Date */
    .m   { color: $code-blue                        } /* Literal.Number */
    .mf  { color: $code-blue                        } /* Literal.Number.Float */
    .mh  { color: $code-blue                        } /* Literal.Number.Hex */
    .mi  { color: $code-blue                        } /* Literal.Number.Integer */
    .il  { color: $code-blue                        } /* Literal.Number.Integer.Long */
    .mo  { color: $code-blue                        } /* Literal.Number.Oct */
    .s   { color: $code-cyan                        } /* Literal.String */
    .sb  { color: $code-cyan                        } /* Literal.String.Backtick */
    .sc  { color: $code-cyan                        } /* Literal.String.Char */
    .sd  { color: $code-cyan                        } /* Literal.String.Doc */
    .s2  { color: $code-cyan                        } /* Literal.String.Double */
    .se  { color: $code-cyan                        } /* Literal.String.Escape */
    .sh  { color: $code-cyan                        } /* Literal.String.Heredoc */
    .si  { color: $code-cyan                        } /* Literal.String.Interpol */
    .sx  { color: $code-cyan                        } /* Literal.String.Other */
    .sr  { color: $code-cyan                        } /* Literal.String.Regex */
    .s1  { color: $code-cyan                        } /* Literal.String.Single */
    .ss  { color: $code-cyan                        } /* Literal.String.Symbol */
    .n   { color: $code-white                       } /* Name */
    .na  { color: $code-tan                         } /* Name.Attribute */
    .nb  { color: $code-white                       } /* Name.Builtin */
    .bp  { color: $code-white                       } /* Name.Builtin.Pseudo */
    .nc  { color: $code-white                       } /* Name.Class */
    .no  { color: $code-pink                        } /* Name.Constant */
    .nd  { color: $code-white                       } /* Name.Decorator */
    .ni  { color: $code-white                       } /* Name.Entity */
    .ne  { color: $code-white                       } /* Name.Exception */
    .nf  { color: $code-green                       } /* Name.Function */
    .nl  { color: $code-white                       } /* Name.Label */
    .nn  { color: $code-white                       } /* Name.Namespace */
    .nx  { color: $code-white                       } /* Name.Other */
    .py  { color: $code-white                       } /* Name.Property */
    .nt  { color: $code-tan                         } /* Name.Tag */
    .nv  { color: $code-orange                      } /* Name.Variable */
    .vc  { color: $code-orange                      } /* Name.Variable.Class */
    .vg  { color: $code-orange                      } /* Name.Variable.Global */
    .vi  { color: $code-orange                      } /* Name.Variable.Instance */
    .o   { color: $code-white                       } /* Operator */
    .ow  { color: $code-white                       } /* Operator.Word */
    .x   { color: $code-white                       } /* Other */
    .p   { color: $code-yellow                      } /* Punctuation */
    .w   { color: $code-white                       } /* Text.Whitespace */
}
