/* Google Font Directory */
@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Inconsolata&subset=latin);

// Compass Modules
@import "compass/css3/border-radius";
@import "compass/utilities/general/float";

// Font Sets
$fixed-width: "Inconsolata", "Courier New", Courier, mono;
$sans-serif: Cuprum, Tahoma, Helvetica, Arial, sans-serif;
$serif: "Droid Serif", Palatino, Georgia, "Times New Roman", serif;

// Color Palette
$cool-grey: #808094;
$dark-blue: #03C;
$dark-brown: #3C2F20;
$dark-red-orange: #992A1A;
$dark-yellow: #9F6000;
$light-blue: #06C;
$light-grey: #E7E7EB;
$light-red-orange: #B46353;
$medium-red-orange: #A74737;
$purple: #4D0073;
$yellow: #FEEFB3;

// Measurements
$left-margin: 72px;
$outdent: 12px;

// Partials
@import "links";
@import "pygments";

abbr, acronym {
	border-bottom: 1px dotted $cool-grey;
}

blockquote {
	font-style: italic;
	margin: 1.5em;

	p:first-child {
		text-indent: -0.5em;
	}
}

body {
	color: $dark-brown;
	font: {
		family: $serif;
		size: 100%;
	}
	margin: ($left-margin / 2) $left-margin 0 $left-margin;
	width: 640px;
}

code {
	background-color: $light-grey;
	font-family: $fixed-width;
	padding: 2px 3px;
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family: $sans-serif;
		weight: normal;
	}
	line-height: 1em;
}

h1 {
	clear: left;
	font-size: 36px;
}

h2 {
	font-size: 24px;
	border-left: ($left-margin - $outdent) solid $dark-red-orange;
	margin-left: -$left-margin;
	padding: 8px 0 2px $outdent;
}

h3 {
	font-size: 21px;
	border-left: ($left-margin - $outdent) solid $light-red-orange;
	margin-left: -$left-margin;
	padding: 8px 0 2px $outdent;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

hr {
	border: 1px solid $dark-brown;
	height: 1px;
	margin: 1.5em 0;
	max-height: 0px;
}

img {
	border: none;
}

p {
	line-height: 1.5;
	margin: {
		top: 1.5em;
		bottom: 1.5em;
	}
	word-spacing: 0.1em;
}

pre {
	background-color: $code-black;
	@include border-radius(9px);
	color: $code-white;
	font-family: $fixed-width;
	line-height: 1.25em;
	margin: {
		left: -$outdent;
		right: -$outdent;
	}
	overflow: auto;
	padding: 9px $outdent;

	code {
		background-color: inherit;
		padding: 0;
	}
}

ul.posts {
	list-style-type: none;
	padding-left: 0;

	li {
		line-height: 1.25em;
	}

	.date {
		font-family: $fixed-width;
	}
}

#content {
	@include link-colors($light-blue, $purple, $dark-blue);
	line-height: 1.5em;

	li {
		margin: 0.5em 0;
	}

	.signature {
		@include float-right;
		font: {
			size: 18px;
			style: italic;
			variant: small-caps;
		}
		@include link-colors($cool-grey, $cool-grey, $light-blue);
		margin-bottom: 1.5em;
	}
}

#footer {
	@include link-colors($medium-red-orange, $medium-red-orange, $dark-red-orange);

	hr {
		margin-bottom: .5em;
	}

	p {
		margin: 0 0 1em 0;
	}

	ul {
		@include float-right;
		list-style-type: none;
		line-height: 1.25em;
		margin: {
			left: 0;
			top: 0.5em;
		}
		padding-left: 0;
		text-transform: uppercase;
	}

	#syndication {
		margin: 1em 0 0.5em;
	}
}

#header {
	@include link-colors($medium-red-orange, $medium-red-orange, $dark-red-orange);

	h1 {
		font: {
			size: 36px;
			weight: bold;
		}
		word-spacing: -0.05em;
	}

	h2 {
		border-left: none;
		font-weight: normal;
		padding: 0;
		margin-left: 0;
	}
}

.caps {
	font: {
		size: 14px;
		variant: small-caps;
	}
	letter-spacing: 0.1em;
}

.links {
	li {
		line-height: 1.25em;
	}
}

.published {
	color: $dark-yellow;
	font-style: italic;
	text-align: center;
}

.relativity {
	clear: right;
	list-style-type: none;
	padding: {
		bottom: 1.25em;
		left: 0;
	}
	margin-bottom: 0;
	text-align: right;

	.prev {
		float: left;
	}
	.next {
		float: right;
	}
}

.retired {
	border: {
		bottom: 1px solid $dark-yellow;
		top: 1px solid $dark-yellow;
	}
	background: {
		color: $yellow;
		image: url(/images/warning-icon.png);
		position: 16px center;
		repeat: no-repeat
	}
	clear: both;
	font-size: 24px;
	margin: 1em 0;
	padding: 16px 0 16px 80px;
}

.sourcelink {
	font-size: 14px;
	margin-top: 0;
	text-align: right;
}
