@use "./base.scss";
@use "./variables.scss" as *;

html {
  font-size: 18px;

  @media all and (max-width: $mobileBreakpoint) {
    font-size: revert;
  }
}

a[href^="http://"],
a[href^="https://"]
{
  &::after {
    content: "↗";
    color: var(--gray);
  }
}

footer,
.sidebar {
  font-size: 0.8rem;
}

pre {
  & > code {
    font-size: 0.95rem;
    line-height: 1.2rem;
  }
}

.center h1 {
  font-style: italic;
}
