@mixin link-colors($link, $visited, $hover, $active: $hover) {
	a:link,
	a:visited {
		text-decoration: none;
		&:focus {
			color: $hover;
		}
	}

	a:link {
		color: $link;
	}

	a:visited {
		color: $visited;
	}

	a:link,
	a:visited {
		&:hover {
			color: $hover;
		}

		&:active {
			color: $active;
		}
	}
}

// style external links differently
a[href^="https://"],
a[href^="https://"] {
	background: url(/images/external-link.png) no-repeat right top;
	padding-right: 16px;
}

a[href^="https://elasticdog.com"],
a[href^="https://feeds.elasticdog.com"] {
	background-image: none;
	padding-right: 0;
}
